
  [x-cloak] {
    display: none;
  }

  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }

  .form-checkbox,
  .form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    color: currentColor;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    height: 1.4em;
    width: 1.4em;
  }

  .form-checkbox {
    border-radius: 0.25rem;
  }

  .form-radio {
    border-radius: 50%;
  }

  .form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .form-radio:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }


.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 40%;
  margin: 0;
  color: #fff;
  background: #3498DB;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #2E86C1;
  transition: all .2s ease;
  outline: none;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #2E86C1;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #3498DB;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #D5D8DC;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  color: #34495E;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}





#myAlert {
    width:400px;
    position:fixed;
    bottom: 100px;
    right: 10px;
}

#myAlert20 {
    width:400px;
    position:fixed;
    bottom: 100px;
    right: 10px;
}

  
.alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right:.3em;
}





.card {
  padding: 25px 25px;
  border-radius: 15px;
  box-shadow: 20px 20px 10px rgba(0,0,0,.2); 
}




#Logo{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height : 250px;
  width: 250px;
}




#CargadeImg{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height : 75px;
  width: 75px;
}
